@model List<Cliente>

@{
    ViewData["Title"] = "Cliente - Index";
}

@{
    <div class="table-responsive">
        <table class="table table-hover">

            <tr>
                <th>Id Cliente</th>
                <th>Nome</th>
                <th>Tipo de Cliente</th>
                <th>CPF ou CNPJ</th>
            </tr>
            @foreach (var cliente in Model)

            {
                <tr>
                    <td>@cliente.IdCliente</td>
                    <td>@cliente.Nome</td>
                    <td>@cliente.TipoCliente</td>
                    <td>@cliente.CPF_CNPJ</td>
                    <td>
                        <a class="btn btn-sm btn-danger" href="/cliente/delete/@cliente.IdCliente">Apagar</a>
                        <a class="btn btn-sm btn-warning" href="/cliente/update/@cliente.IdCliente">Editar</a>
                    </td>

                </tr>

            }
        </table>
    </div>

    <a class="btn btn-primary" href="/cliente/create">Adcionar</a>

}
